# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages in Data Science
- List commonly used libraries in Data Science
- List Data Science Tools
- Write a few examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Phyton
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Seaborn

## Author

Citra Putri Adiyanti

# Data Science Tools

1. Data Management: PortgreSQL, mySQL, MongoDB

2. Data Integration & Transformation: Apache Airflow, KubeFlow, Apache Kafka, Apache Nifi

3. Data Visualization: Pixiedust, Hue, Apache Superset

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [11]:
print((3*4)+5)

17

This will convert 200 minutes to hours by diving by 60

In [14]:
total_minutes = 200
hours = total_minutes // 60
minutes = total_minutes % 60
time_string = "{} hours and {} minutes".format(hours, minutes)

print(time_string)

3 hours and 20 minutes